<ion-header>
  <ion-toolbar>
    <ion-title style=text-align:center>控制节点</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>返回
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button [routerDirection]="'root'" [routerLink]="url_list">
          <ion-icon name="settings" ></ion-icon>设置
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="masters">
  <ion-img *ngIf="states_dis[0]==='已开启'"class="icon-state-size icon-state-location0"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[0]==='已关闭'"class="icon-state-size icon-state-location0"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[1]==='已开启'"class="icon-state-size icon-state-location1"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[1]==='已关闭'"class="icon-state-size icon-state-location1"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[2]==='已开启'"class="icon-state-size icon-state-location2"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[2]==='已关闭'"class="icon-state-size icon-state-location2"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[3]==='已开启'"class="icon-state-size icon-state-location3"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[3]==='已关闭'"class="icon-state-size icon-state-location3"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[4]==='已开启'"class="icon-state-size icon-state-location4"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[4]==='已关闭'"class="icon-state-size icon-state-location4"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[5]==='已开启'"class="icon-state-size icon-state-location5"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[5]==='已关闭'"class="icon-state-size icon-state-location5"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[6]==='已开启'"class="icon-state-size icon-state-location6"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[6]==='已关闭'"class="icon-state-size icon-state-location6"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[7]==='已开启'"class="icon-state-size icon-state-location7"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[7]==='已关闭'"class="icon-state-size icon-state-location7"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[8]==='已开启'"class="icon-state-size icon-state-location8"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[8]==='已关闭'"class="icon-state-size icon-state-location8"src="./assets/close.png" ></ion-img>
  <ion-img *ngIf="states_dis[9]==='已开启'"class="icon-state-size icon-state-location9"src="./assets/open.png" ></ion-img>
  <ion-img *ngIf="states_dis[9]==='已关闭'"class="icon-state-size icon-state-location9"src="./assets/close.png" ></ion-img>
  <p class="text-state0">{{states_dis[0]}}</p>
  <p class="text-state1">{{states_dis[1]}}</p>
  <p class="text-state2">{{states_dis[2]}}</p>
  <p class="text-state3">{{states_dis[3]}}</p>
  <p class="text-state4">{{states_dis[4]}}</p>
  <p class="text-state5">{{states_dis[5]}}</p>
  <p class="text-state6">{{states_dis[6]}}</p>
  <p class="text-state7">{{states_dis[7]}}</p>
  <p class="text-state8">{{states_dis[8]}}</p>
  <p class="text-state9">{{states_dis[9]}}</p>
  <p class="text-name0">风机开关</p>
  <p class="text-name1">光照开关</p>
  <p class="text-name2">二氧化碳</p>
  <p class="text-name3">水泵开关</p>
  <p class="text-name4">新风开关</p>
  <p class="text-name5">空调开关</p>
  <p class="text-name6">加湿开关</p>
  <p class="text-name7">继电器7</p>
  <p class="text-name8">继电器8</p>
  <p class="text-name9">继电器9</p>
  
  <!-- <ion-toggle class="switch" color="success" [(ngModel)]="pepperoni"></ion-toggle> -->
  <ion-button  [routerDirection]="'root'" [routerLink]="url_contrl_time" class="button-time"  size="large"  color="success"  shape="round">
      <ion-icon slot="icon-only" name="time"></ion-icon>
  </ion-button>
  <p class="text-time">自动控制</p>

  <ion-button  [routerDirection]="'root'" [routerLink]="url_contrl_condition" class="button-cond" size="large"   color="success" shape="round">
      <ion-icon slot="icon-only" name="git-compare"></ion-icon>
  </ion-button>
  <p class="text-cond">条件控制</p>
</ion-content>
