<ion-header>
  <ion-toolbar color="success">
    <ion-title  style=text-align:center>时间选择</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>起始时间</ion-label>
        <ion-datetime value="2019-01-01 00:00" display-format="YYYY-MM-DD HH:mm"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>结束时间</ion-label>
        <ion-datetime value="2019-12-31 00:00" display-format="YYYY-MM-DD HH:mm"></ion-datetime>
    </ion-item>
</ion-content>
