<ion-tabs>
    <ion-tab-bar slot="buttom">
      <ion-tab-button tab="ctrl">
        <ion-icon name="reorder"></ion-icon>
        <ion-label>设备列表</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="deployed">
        <ion-icon name="git-network"></ion-icon>
        <ion-label>设备分布</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="ble">
        <ion-icon name="settings"></ion-icon>
        <ion-label>连接设置</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>