.switch 
{
  max-width: 24.5vw;
  float: left;
}
.icon-state-size {
  max-height: 7vh;
  max-width: 7vw;
}

.icon-state-location0
{
  position:absolute;
  left:5vw;
  top:30vh
}
.icon-state-location1
{
  position:absolute;
  left:14vw;
  top:30vh
}
.icon-state-location2
{
  position:absolute;
  left:23vw;
  top:30vh
}
.icon-state-location3
{
  position:absolute;
  left:32vw;
  top:30vh
}
.icon-state-location4
{
  position:absolute;
  left:41vw;
  top:30vh
}
.icon-state-location5
{
  position:absolute;
  left:50vw;
  top:30vh
}
.icon-state-location6
{
  position:absolute;
  left:59vw;
  top:30vh
}
.icon-state-location7
{
  position:absolute;
  left:68vw;
  top:30vh
}
.icon-state-location8
{
  position:absolute;
  left:77vw;
  top:30vh
}
.icon-state-location9
{
  position:absolute;
  left:86vw;
  top:30vh
}
.button-time
{
  position:absolute;
  left:24vw;
  top:58vh;
}
.button-cond
{
  position:absolute;
  right:24vw;
  top:58vh;
}

.text-state0
{
  position:absolute;
  left:6.3vw;
  top:38vh;
  font-size:10px
}
.text-state1
{
  position:absolute;
  left:15.3vw;
  top:38vh;
  font-size:10px
}
.text-state2
{
  position:absolute;
  left:24.3vw;
  top:38vh;
  font-size:10px
}
.text-state3
{
  position:absolute;
  left:33.3vw;
  top:38vh;
  font-size:10px
}
.text-state4
{
  position:absolute;
  left:42.3vw;
  top:38vh;
  font-size:10px
}
.text-state5
{
  position:absolute;
  left:51.3vw;
  top:38vh;
  font-size:10px
}
.text-state6
{
  position:absolute;
  left:60.3vw;
  top:38vh;
  font-size:10px
}
.text-state7
{
  position:absolute;
  left:69.3vw;
  top:38vh;
  font-size:10px
}
.text-state8
{
  position:absolute;
  left:78.3vw;
  top:38vh;
  font-size:10px
}
.text-state9
{
  position:absolute;
  left:87.3vw;
  top:38vh;
  font-size:10px
}
.text-name0
{
  position:absolute;
  left:6.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name1
{
  position:absolute;
  left:15.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name2
{
  position:absolute;
  left:24.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name3
{
  position:absolute;
  left:33.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name4
{
  position:absolute;
  left:42.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name5
{
  position:absolute;
  left:51.5vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name6
{
  position:absolute;
  left:60.7vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name7
{
  position:absolute;
  left:67.2vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name8
{
  position:absolute;
  left:76.2vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-name9
{
  position:absolute;
  left:85.2vw;
  top:40vh;
  font-size:14px;
  font-weight:bold;
}
.text-time
{
  position:absolute;
  left:25vw;
  top:70vh;
}
.text-cond
{
  position:absolute;
  right:25vw;
  top:70vh;
}

.masters {
  background-color: green;
}