ion-card {  //TODO:1.卡片边距优化2.卡片圆角优化
  margin: 0;
  padding: 0;
}



.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.text-state0
{
  position:absolute;
  left:8vw;
  top:52vh;
}
.text-state1
{
  position:absolute;
  left:28vw;
  top:52vh;
}
.text-state2
{
  position:absolute;
  left:45.1vw;
  top:52vh;
}
.text-state3
{
  position:absolute;
  left:58.7vw;
  top:52vh;
}
.text-state4
{
  position:absolute;
  left:72.5vw;
  top:52vh;
}
.text-state5
{
  position:absolute;
  left:86vw;
  top:52vh;
}
