<!-- <ion-ion-img src="/assets/节点主界面3.png"></ion-ion-img> -->
<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>植物工厂控制系统
		</ion-buttons>
		<ion-buttons slot="secondary">
			<ion-button (click)="presentPopover($event)">
				<ion-icon slot="icon-only" name="add" ></ion-icon>添加
			</ion-button>
		</ion-buttons>
		<ion-title style=text-align:center></ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list *ngIf="!iscard" >
		<ion-item *ngFor="let card of cards">
			<ion-thumbnail slot="start">
				<img src="./assets/{{card.kind}}.png">
			</ion-thumbnail>
			<ion-label>
				<h2>{{card.name}}</h2>
				<p>{{card.addr}}</p>
			</ion-label>
			<ion-button fill="outline" slot="end">View</ion-button>
		</ion-item>
	</ion-list>
			  
			  
	<ion-grid  *ngIf="iscard" >
		<ion-row>
			<ion-col *ngFor="let card of cards" size-xs="6" size-sm="4" size-md="3" size-lg="2">
				<ion-card color="light" [routerDirection]="'root'" [routerLink]="'/'+card.kind">
				<ion-card-header>
					<ion-chip color="success" style="position : absolute;top : 0rem;right : 0rem;">
						<ion-label>{{card.loc}}</ion-label>
					</ion-chip>
					<ion-card-subtitle>{{card.name}}</ion-card-subtitle>
					<ion-card-subtitle style="position: relative; top: -0.5rem;">{{card.addr}}</ion-card-subtitle>
				</ion-card-header>
				
				<ion-card-content>
						<p *ngIf="card.kind=='collect'" outline  style="color:green; position : absolute;top : -0.7rem;left : 5.0rem;">
								{{'22  ℃  |  86 %'}}
						</p>
						<p *ngIf="card.kind=='collect'" outline  style="color:green; position : absolute;top : 0.3rem;left : 5.0rem;">
								{{'455ppm|788lx'}}
						</p>
					<img src="./assets/{{card.kind}}.png" style="position: relative; left: -0.9rem; top: -0.5rem; width: 2rem; height: 2rem;">
					
				</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- <table *ngIf="!iscard" id="__01" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="6">
				<ion-img [routerDirection]="'root'" [routerLink]="url_contrl" src="./assets/nodesUI/nodesUI_01.gif"></ion-img>
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<ion-img [routerDirection]="'root'" [routerLink]="url_contrl" src="./assets/nodesUI/nodesUI_02.gif"></ion-img>
			</td>
		</tr>
		<tr>
			<td>
				<ion-img [routerDirection]="'root'" [routerLink]="url_water" src="./assets/nodesUI/nodesUI_03.gif"></ion-img>
			</td>
			<td>
				<ion-img [routerDirection]="'root'" [routerLink]="url_contrl" src="./assets/nodesUI/nodesUI_04.gif"></ion-img>
			</td>
			<td *ngIf="num>=1">
				<ion-img [routerDirection]="'root'" [routerLink]="url_collect" src="./assets/nodesUI/nodesUI_05.gif"></ion-img>
			</td>
			<td *ngIf="num>=2">
				<ion-img [routerDirection]="'root'" [routerLink]="url_collect" src="./assets/nodesUI/nodesUI_06.gif"></ion-img>
			</td>
			<td *ngIf="num>=3">
				<ion-img [routerDirection]="'root'" [routerLink]="url_collect" src="./assets/nodesUI/nodesUI_07.gif"></ion-img>
			</td>
			<td *ngIf="num>=4">
				<ion-img [routerDirection]="'root'" [routerLink]="url_collect" src="./assets/nodesUI/nodesUI_08.gif"></ion-img>
			</td>
		</tr>
	</table> -->
	<ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light" (click)="changeview()">
          <ion-icon [name]="iscard?'git-merge':'apps'" ></ion-icon>
        </ion-fab-button>
	</ion-fab>
</ion-content>
<!-- <ion-footer>
	<ion-toolbar>
		<ion-title>Footer</ion-title>
	</ion-toolbar>
</ion-footer> -->
